body{
  margin:0;
}

  h1{
    font-size:45px;
    text-align:center;
    border-bottom: 1px solid gray;
    margin:0;
    padding:20px;
  }
  ol{
    border-right: 1px solid gray;
    width: 100px;
    margin:0;
    padding:20px;
  }
  div.grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  div.grid ol{
    padding-left:33px;
  }
  div.gird{
    padding-left:20px;
  }
  div.art{
    padding-left:20px;
  }

  @media(max-width:800px){
    #grid{
      display:block;
    }
    ol{
      border-right:none;
    }
    h1{
      border-bottom:none;
    }


  }
